/* styles.css */

/* Header styles */
header {
    background-color: #333; /* Set background color for the header */
    color: white; /* Set text color in the header to white */
    padding: 10px 0; /* Add padding to the header (top and bottom) */
}

nav ul {
    list-style-type: none; /* Remove list-style (bullets) from unordered list */
    padding: 0; /* Remove padding from the unordered list */
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add right margin to list items for spacing */
}

nav ul li a {
    color: white; /* Set text color of anchor links to white */
    text-decoration: none; /* Remove underlines from anchor links */
}

/* Content styles */
.content {
    margin: 20px; /* Add margin around content */
}

.page-container {
    max-width: 800px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding around the container */
    background-color: #f5f5f5; /* Set background color of the container */
    border: 1px solid #ddd; /* Add a 1px solid border with a light gray color */
    border-radius: 5px; /* Add rounded corners to the container */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect to the container */
}

h1 {
    font-size: 24px; /* Set the font size for h1 headings */
    margin-bottom: 20px; /* Add margin at the bottom of h1 headings */
}

/* Footer styles */
.footer {
    background-color: #333; /* Set background color for the footer */
    color: white; /* Set text color in the footer to white */
    padding: 18px 0; /* Add padding to the footer (top and bottom) */
    text-align: center; /* Center-align text in the footer */
    margin-top: 30%; /* Add margin to the top of the footer */
}

.social-links a {
    color: white; /* Set text color of social links to white */
    text-decoration: none; /* Remove underlines from social links */
    margin: 0 10px; /* Add horizontal margin to social links */
    font-size: 18px; /* Set the font size for social links */
}

.page-links {
    margin-top: 10px; /* Add margin to the top of page links */
}

.page-links a {
    color: white; /* Set text color of page links to white */
    text-decoration: none; /* Remove underlines from page links */
    margin: 0 10px; /* Add horizontal margin to page links */
}

a:hover {
    text-decoration: underline; /* Add underlines to anchor links on hover */
    color: blue; /* Change the text color of anchor links on hover to blue */
}
