{% extends 'index.html' %}
{% block content %}

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/home">Add Students</a></li>
            <li><a href="/info">Student Information</a></li>
            <li><a href="/archived_students">Archived Students</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li><a href="/login">Login</a></li>
            {% endif %}
            
        </ul>
    </nav>
</header>

<section>
    <div class="error">
        <h1>Oops! something went wrong (500) </h1>

        <p>We are experiencing some trouble on our end. Please try again in the future</p>
    </div>
</section>



{% endblock %}