{% extends 'index.html' %}

{% block content %}

<header>
    <nav>
        <ul>
            <li><a href="/">Welcome</a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/login">Logout</a></li>
            <li><a href="/login">Login</a></li>
            
        </ul>
    </nav>
</header>

<section>
<div>

    <h1>Portfolio inspiration</h1>
    <p>ednewjndwje ekjcewncnc jcbwiecbw oiwqnioq cnecbw jncwjbn <br>
        hbchjc jekwcbahcb ecbewc wbdcuw jbwdiucb bwciuebw iubciubw <br>
        ednewjndwje ekjcewncnc jcbwiecbw oiwqnioq cnecbw jncwjbn <br>
        hbchjc jekwcbahcb ecbewc wbdcuw jbwdiucb bwciuebw iubciubw <br>
        ednewjndwje ekjcewncnc jcbwiecbw oiwqnioq cnecbw jncwjbn <br>
        hbchjc jekwcbahcb ecbewc wbdcuw jbwdiucb bwciuebw iubciubw <br>
     </p>
     <div class="social-links">
                <a href="https://github.com/sentense1" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/realexsaint" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
     <p>
        <p>Visit Holberton School: <a href="https://www.holbertonschool.com" target="_blank">holbertonschool.com</a></p>
     </p>
        
            
  

</div> 
</section>

{% endblock %}