{% extends 'index.html' %}

{% block title %}
    About Us
{% endblock %}

{% block content %}

<header>
    <nav>
        <ul>
            <li><a href="/">Welcome</a></li>
            <li><a href="/info">Student Information</a></li>
            <li><a href="/archived_students">Archived Students</a></li>
            <li><a href="/login">Login</a></li>
            
        </ul>
    </nav>
</header>

<section class="content">
<div class="page-container">

    <h1>Portfolio inspiration</h1>
    <p>ednewjndwje ekjcewncnc jcbwiecbw oiwqnioq cnecbw jncwjbn <br>
        hbchjc jekwcbahcb ecbewc wbdcuw jbwdiucb bwciuebw iubciubw <br>
        ednewjndwje ekjcewncnc jcbwiecbw oiwqnioq cnecbw jncwjbn <br>
        hbchjc jekwcbahcb ecbewc wbdcuw jbwdiucb bwciuebw iubciubw <br>
        ednewjndwje ekjcewncnc jcbwiecbw oiwqnioq cnecbw jncwjbn <br>
        hbchjc jekwcbahcb ecbewc wbdcuw jbwdiucb bwciuebw iubciubw <br>
     </p>
     
     <footer class="footer">
        <p>
        <p>Visit Holberton School: <a href="https://www.holbertonschool.com" target="_blank">holbertonschool.com</a></p>
     </p>

     <div class="social-links">
            <a href="https://github.com/sentense1" target="_blank">github<i class="fab fa-github"></i></a>
            <a href="https://twitter.com/realexsaint" target="_blank">twitter<i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com" target="_blank">linkedin<i class="fab fa-linkedin"></i></a>
            <h4>Email: johnson.oragui@gmail.com</h4>
    </div>
     </footer>
     
        
            
  

</div> 
</section>

{% endblock %}