{% extends 'index.html' %}

{% block title %}
    Archived Students
{% endblock %}

{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="/">Welcome</a></li>
            <li><a href="/info">Student Information</a></li>
            <li><a href="/about">About Us</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    <h1>Archived Students</h1>

    <table class"arch-table">
        <tr>
            <th class"arch-th">ID</th>
            <th class"arch-th">Name</th>
            <th class"arch-th">Phone Number</th>
            <th class"arch-th">Email</th>
        </tr>

        {% for archived_student in archived_students %}
            <tr>
                <th class"arch-th">{{ archived_student['id'] }}</th>
                <th class"arch-th">{{ archived_student['name'] }}</th>
                <th class"arch-th">{{ archived_student['phoneNumber'] }}</th>
                <th class"arch-th">{{ archived_student['email'] }}</th>
            </tr>
        {% endfor %}
    </table>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <p> {{ message }} </p>
                {% endfor %}
            </div>
            
        {% endif %}
    {% endwith %}

</main>
{% endblock %}
