{% extends 'index.html' %}

{% block title %}
    Archived Students
{% endblock %}

{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="/">Welcome</a></li>
            <li><a href="/info">Student Information</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Archived Students</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>

        {% for archived_student in archived_students %}
            <tr>
                <th>{{ archived_student['id'] }}</th>
                <th>{{ archived_student['name'] }}</th>
                <th>{{ archived_student['phoneNumber'] }}</th>
                <th>{{ archived_student['email'] }}</th>
            </tr>
        {% endfor %}
    </table>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <p> {{ message }} </p>
                {% endfor %}
            </div>
            
        {% endif %}
    {% endwith %}

</main>
{% endblock %}