{% extends 'index.html' %}
{% block content %}

<header>
    <nav>
        <ul>
            <li><a href="/">Welcome</a></li>
            <li><a href="/info">Student Information</a></li>
            <li><a href="/info">Logout</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<main class="main">
    <h1>Edit Student Information</h1>
    <form method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ student.Name }}" required>
        
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" value="{{ student.PhoneNumber }}" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ student.Email }}" required>

        <button type="submit">Update Student</button>
    </form>
</main>

{% endblock %}