{% extends 'index.html' %}
{% block content %}

<header>
    <nav>
        <ul>
            <li><a href="/">Welcome</a></li>
            <li><a href="/info">info</a></li>
            <li><a href="/info">Logout</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>

<main>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message flash-success">
                {% for message in messages %}
                        <p>{{ message  }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    
    <h1>Student Information</h1>
    
        
        
        <li><a href="/add_student" class="add-student">Add Student</a></li>
        

    <table>
        <tr>
            
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            
                <th>Actions</th>
            
        </tr>
        {% for student in students %}
        
            <tr>
                <td>{{ student.ID }}</td>
                <td>{{ student.Name }}</td>
                <td>{{ student.PhoneNumber }}</td>
                <td>{{ student.Email }}</td>
                
                
                <td>
                    <form method="POST" action="{{ url_for('edit', student_id=student['ID']) }}" style="display: inline-block;">
                        <!-- Add form fields for editing here if needed -->
                        <button type="submit" class="edit-button">Edit</button>
                    </form>
                    <form method="POST" action="{{ url_for('delete', student_id=student['ID']) }}" style="display: inline-block;">
                        <!-- Add form fields for deletion here if needed -->
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </td>
                
                
            </tr>
        {% endfor %}
    </table>

</main>
{% endblock %}
