{% extends 'index.html' %}

{% block title %}

    Student Information

{% endblock %}

{% block content %}

<header>
    <nav>
        <ul>
            <li><a href="/">Welcome</a></li>
            <li><a href="/info">Student Information</a></li>
            <li><a href="/archived_students">Archived Students</a></li>
            <li><a href="/about">About</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message flash-success">
                {% for message in messages %}
                        <p>{{ message  }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    
    <h1>Student Information</h1>
    
        
        
        <li><a href="/add_student" class="home-add-student">Add Student</a></li>
        

    <table>
        <tr>
            
            <th class="home-th">ID</th>
            <th class="home-th">Name</th>
            <th class="home-th">Phone Number</th>
            <th class="home-th">Email</th>
            
                <th>Actions</th>
            
        </tr>
        {% for student in students %}
        
            <tr>
                <td class="home-td">{{ student.ID }}</td>
                <td class="home-td">{{ student.Name }}</td>
                <td class="home-td">{{ student.PhoneNumber }}</td>
                <td class="home-td">{{ student.Email }}</td>
                
                
                <td class="home-td">
                    <form method="POST" action="{{ url_for('edit', student_id=student['ID']) }}" style="display: inline-block;">
                        <!-- Add form fields for editing here if needed -->
                        <button type="submit" class="home-edit-button">Edit</button>
                    </form>
                    <form method="POST" action="{{ url_for('delete', student_id=student['ID']) }}" style="display: inline-block;">
                        <!-- Add form fields for deletion here if needed -->
                        <button type="submit" class="home-delete-button">Delete</button>
                    </form>
                </td>
                
                
            </tr>
        {% endfor %}
    </table>

</main>
{% endblock %}
