<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css' )}}">
    <title>Landing page</title>
</head>
<body>
    {% block content %}
    <header>
        <nav>
            <ul>
                
                    <li><a href="/login">Login</a></li>
                    <li><a href="/home">home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to the Student Information App</h1>
        <p>This app allows authorized admins to manage student information.</p>
    </main>
    {% endblock %}
</body>
</html>