<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' )}}">
    <title>
        {% block title %}
            Landing page
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="/info">Student Information</a></li>
                <li><a href="/archived_students">Archived Students</a></li>
                <li><a href="/about">About</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to the Student Information App</h1>
        <p>This app allows authorized admins to manage student information.</p>
    
        
       
        <section id="feature" class="dark-theme flex-layout grid-layout">
            
            
            <div class="home-feature feature">
                <h2>Home</h2>
                <img src="../static/images/home.png" alt="image">
                <p>Log in to our platform to Add, Edit, or Delete Students' Information for Admins only..</p>
            </div>

            <div class="stud-info-feature feature">
                <h2>Student Information</h2>
                <img src="../static/images/stud-info.png" alt="image 3">
                <p>Visit this page to view students' information.</p>
            </div>

            <div class="archived-students-feature feature">
                <h2>Archived Students</h2>
                <img src="../static/images/archived.png" alt="image">
                <p>View this page to access Archived Students</p>
                <p>These are Students whom are no longer with us</p>
                <p>Either switched schools or expelled</p>
            </div>
            
            <div class="about-feature feature">
                <h2>About Us</h2>
                <img src="../static/images/about.png" alt="image 1">
                <p>Information about the owner of the App.</p>
            </div>
        </section>
    
    </main>
    {% endblock %}
    
</body>
</html>