{% extends 'index.html' %}

{% block title %}
    info page
{% endblock %}

{% block content %}

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/home">Add Students</a></li>
            <li><a href="/archived_students">Archived Students</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li><a href="/login">Login</a></li>
            {% endif %}
            
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>

<main>
    
    <h1>Student Information</h1>

    <table class="info-table">
        <tr>
            
            <th class="info-th">ID</th>
            <th class="info-th">Name</th>
            <th class="info-th">Phone Number</th>
            <th class="info-th">Email</th>
            
        </tr>
        {% for student in students %}
        
            <tr>
                <td class="info-td">{{ student.id }}</td>
                <td class="info-td">{{ student.name }}</td>
                <td class="info-td">{{ student.phonenumber }}</td>
                <td class="info-td">{{ student.email }}</td>
                
                
            </tr>
        {% endfor %}
    </table>

</main>
{% endblock %}
